<template>
  <div class="modal__background">
    <div class="modal__title">
      <h1>Syllabus AITU</h1>

    </div>
    <div class="modal__window">
      <form class="auth-form" name="form-auth" method="post" @submit.prevent="submit">

        <label  class="auth-form__label">
          <input
              class="auth-form__input input-email"
              placeholder="login"
              type="text"
              name="login"
              autocomplete="off"
              v-model="form.login.value"
              required>

        </label>

        <label class="auth-form__label">
          <input
              class="auth-form__input input-password invalid"
              placeholder="password"
              type="password"
              name="password"
              autocomlete="off"
              v-model="form.password.value"
              required>
        </label>

        <input class="auth-form__submit" type="submit" value="Login">

        <div class="auth-form__bottom">
          <span>Have no account?</span>
          <a  href="#">Create new</a>
        </div>
      </form>


    </div>
    <Suspense>
      <UserData v-if="submitted" />
    </Suspense>
  </div>
</template>

<script>
import {ref} from 'vue'
import UserData from "@/components/UserData";
import {useForm} from "@/use/form";

const required = val => !!val
const minLength = num => val => val.length >= num

export default {
  name: 'Auth',
  setup(){
    const submitted = ref(false)
    const form = useForm({
      login: {
        value: 'alim',
        validators: {required}
      },
      password: {
        value: 'myPassword',
        validator: {required, minLength: minLength(4)}
      }
    })



    function submit(){

      console.log('Login: ', form.login.value)
      console.log('Password: ', form.password.value)
      submitted.value = true
    }

    return {form, submit, submitted}
  },

  components:{
    UserData
  }
}
</script>





