<template>
  <div>
    <h1>Data from server</h1>
    <h2> Quantity of data {{ postsCount }}</h2>
    <div class="store" v-for="post in allPosts" :key="post.id">
      <p>{{ post }}</p>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'


export default {
  name: "MainPage",
  // computed:{
  //   allPosts(){
  //     return this.$store.getters.allPost
  //   }
  // },
  computed: mapGetters(["allPosts", "postsCount"]),
  methods: mapActions(["fetchPosts"]),
  mounted(){
    this.fetchPosts(3)
  }
}
</script>

<style scoped>

</style>