*{
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    background: #232323;
    color: #ccc;
    font-family: Helvetica, Arial, sans-serif;
}
.text-success {
    color: #28a745;
}
.text-danger {
    color: #dc3545;
}

.modal__title{
    padding-bottom: 50px;
}

.modal__background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}
.modal__window {
    width: 360px;
    border: 1px solid #999;
    border-radius: 15px;
}
@media all and (min-width: 576px) {
    .modal__window {
        padding: 49px 79px 29px;
    }
}
.auth-form {
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
}
.auth-form__label {
    margin-bottom: 40px;
}

.auth-form__input {
    width: 240px;
    height: 40px;
    background: transparent;
    color: #ccc;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    border: none;
    box-shadow: 0 1px 0 0 #666;
}

.auth-form__answer {
    height: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 14px;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 30px;
}
.auth-form__submit {
    font-family: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    cursor: pointer;
    border: 1px solid #ccc;
    height: 50px;
    border-radius: 10px;
    background: transparent;
    color: #ccc;
    outline: none;
}
.auth-form__submit:hover {
    background: #fff;
    border: 1px solid #fff;
    color: #232323;
}
.auth-form__bottom {
    margin-top: 30px;
    font-size: 12px;
    color: #ddd;
    text-align: center;
}
.auth-form__bottom a {
    color: #007bff;
}
.auth-form__bottom a:hover {
    color: #ddd;
}





